.movement-arrows {
    button {
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 10%;
        height: 100%;
        background: rgba(200, 200, 200, 0);
        color: rgba(33, 33, 33, 0);
        font-size: 32px;
        transition: all 0.3s linear;
        &:hover, &:focus {
            background: rgba(200, 200, 200, 0.1);
            color: rgba(66, 66, 66, 0.8);
        }
        &:active {
            background: rgba(200, 200, 200, 0.2);
            color: rgba(66, 66, 66, 1);
        }
    }
    & button:first-child {
        left: 0;
    }
    & button:last-child {
        right: 0;
    }
}
