.ChoiceNav {
    color: #ddd;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    > button {
        width: 40px;
        height: 5px;
        margin: 10px 5px;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: #ddd;
        opacity: 0.6;
    }
    .selNav {
        background-color: #666;
    }
}

