.root {
    background-color: #333;
    div {
        padding: 1rem;
    }
}
:global {
    .React {
        background-color: rgb(226, 27, 200);
    }
    .Vue {
        background-color: rgb(206, 44, 44);
    }
    .Ng {
        background-color: rgb(167, 228, 24);
    }
    .Component {
        background-color: rgb(24, 42, 206);
    }
}
