@imagesUrl: '~@static/images';

body {
    margin: 0;
    background: #efefef;
}

header {
    max-width: 1000px;
    margin: 20px auto 0;
    h2 {
        margin-left: 20px;
    }
}

.complete-example {
    .rotation-content {
        width: 100%;
        max-width: 800px;
        height: 300px;
        margin: 0 auto;
        background: #efefef;
    }
    .rotation-text {
        text-align: center;
    }
    .rotation-button {
        text-align: center;
        button {
            margin: 0 20px;
            width: 100px;
        }
    }
}

.react-rotation {
    height: 100%;
    width: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    overflow: hidden;
    h1 {
        text-align: center;
        margin-top: 230px;
        color: #666;
    }
}
.Angular {
    background-image: url('@{imagesUrl}/Angular.png');
}
.Nodejs {
    background-image: url('@{imagesUrl}/Nodejs.png');
}
.React {
    background-image: url('@{imagesUrl}/React.png');
}
.Vue {
    background-image: url('@{imagesUrl}/Vue.png');
}
.Webpack {
    background-image: url('@{imagesUrl}/Webpack.png');
}
