.picture-rotation {
    position: relative;
    height: 100%;
}
.rotation-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation-fill-mode: forwards !important;
}
.rotation-enter {
    left: 0;
}
.rotation-exit {
    display: none;
}
.rotation-center-to-left {
    animation: 0.3s animation-center-to-left;
}
.rotation-right-to-center {
    animation: 0.3s animation-right-to-center;
}
.rotation-center-to-right {
    animation: 0.3s animation-center-to-right;
}
.rotation-left-to-center {
    animation: 0.3s animation-left-to-center;
}

@keyframes animation-center-to-left {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: -20%;
        opacity: 0.2;
    }
}

@keyframes animation-right-to-center {
    0% {
        left: 20%;
        opacity: 0.2;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-center-to-right {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 20%;
        opacity: 0.2;
    }
}

@keyframes animation-left-to-center {
    0% {
        left: -20%;
        opacity: 0.2;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
